.weather-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 300px;
    margin: 1.5rem auto;
    padding: 1rem;
    /* border: 1px solid white; */
    border-radius: 8px;
    background-color: rgb(162, 211, 234);
    color: black;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.weather-lowerrow {
    display: flex;
    justify-content: space-between;
}

.weather-lowerrow img {
    max-width: 25px;
    height: auto;
}

.realfeel {
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 0 !important;
    margin-bottom: 13px !important;
}

.weather-lowerrow p {
    margin: 0.6rem 0;
}

.weather-upperrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem; */
    /* padding-right: 0.5rem;
    padd */
}

.weather-upperrow p {
    font-size: 2em;
    margin: 0;
}

.weather-upperrow img {
    max-width: 100px;
    height: auto;
}

.hourly-forecast-container {
    display: flex;
    width: 60%;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
    overflow-y: hidden;
    overflow-x: auto;
}

.hourly-forecast-container::-webkit-scrollbar {
    width: 5px;             
}
  
.hourly-forecast-container::-webkit-scrollbar-track {
    background: rgb(41, 59, 99);       
}
  
.hourly-forecast-container::-webkit-scrollbar-thumb {
    background-color: rgb(255, 191, 0);    
    border-radius: 20px;          
}