body {
  background-color: #133667;
  padding: 0;
  color: white;
  text-align: center;
  height: 100vh;
  background-image: url(../assets/backgrounds/clear.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px;
}

.map-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}

.leaflet-container {
  height: 600px;
}

@media (min-width: 600px) {
  .map-container {
    width: 50%;
    min-width: 400px;
  }
}

.Results {
  margin-right: 150px;
  margin-top: 20px;
  min-width: 400px;
}

.city-name {
  background: rgba(139, 138, 138, 0.668);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 0.5s ;
    min-width: 144px;
    align-items: center;
    padding: 10px 10px;
    margin-left: 10%;
    margin-top: 4%;
    margin-right: 10%;
    font-size: 15px;
  font-weight: bold;
  text-align: center;

}

.Rain {
  background-image: url(../assets/backgrounds/rainy.jpg);
}

.Clouds {
  background-image: url(../assets/backgrounds/cloudy.jpg);
}

.Thunder {
  background-image: url(../assets/backgrounds/thunder.jpg);
}

.Snow {
  background-image: url(../assets/backgrounds/snow.jpg);
}

.Mist {
  background-image: url(../assets/backgrounds/mist.jpg);
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .Results {
    margin-left: 350px;
    margin-right: 350px;
  }
}

@media (max-width: 2689px) and (min-width: 1440px) {
  .app {
    background-image: url(../assets/backgrounds/clear.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: 0.5s ease-out;
    height: 100%;
  }

  .Rain {
    background-image: url(../assets/backgrounds/rainy.jpg);
  }

  .Clouds {
    background-image: url(../assets/backgrounds/cloudy.jpg);
  }

  .Thunder {
    background-image: url(../assets/backgrounds/thunder.jpg);
  }

  .Snow {
    background-image: url(../assets/backgrounds/snow.jpg);
  }

  .Mist {
    background-image: url(../assets/backgrounds/mist.jpg);
  }

  main {
    min-height: 100vh;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.75)
    );
  }
}
